:root {
  --main-font-family: "Bellefair", serif;
  --secondary-font-family: "Space Mono", monospace;
  --tertiary-font-family: "Open Sans", sans-serif;
  --brand-background-color: #f9f7fe;
}

body {
  font-family: var(--main-font-family);
  background: #fffdf6;
}
